app/static
.env
.idea/
.venv/
site/html
site/dumpscripts/and
site/dumpscripts/con_*
site/dumpscripts/cover*
site/dumpscripts/demopk*
site/dumpscripts/
site/dumpscripts/esemp*
site/dumpscripts/example_shutil
site/dumpscripts/extension
site/dumpscripts/file_di_prova/
site/dumpscripts/insp
site/dumpscripts/locale
site/dumpscripts/LOGS
site/dumpscripts/__pycache__
site/dumpscripts/shutil
site/dumpscripts/so_*
site/dumpscripts/zipimport
site/dumpscripts/zipfile

