.env
.idea/
.venv/
__pycache__/
migrations/
*.sql
*.log
*.pyc
*.zip
*.gz
*.tar
*.bz2
translations/backup
app/translations/backup
app/static/css/vendor
app/static/js/vendor
dumpscripts/LOGS
dumpscripts/coverdir1
dumpscripts/profile*.stats
dumpscripts/todo.db
material_test/
site/html
site/dumpscripts/and
site/dumpscripts/con_*
site/dumpscripts/cover*
site/dumpscripts/demopk*
site/dumpscripts/
site/dumpscripts/esemp*
site/dumpscripts/example_shutil
site/dumpscripts/extension
site/dumpscripts/file_di_prova/
site/dumpscripts/insp
site/dumpscripts/locale
site/dumpscripts/LOGS
site/dumpscripts/__pycache__
site/dumpscripts/shutil
site/dumpscripts/so_*
site/dumpscripts/zipimport
site/dumpscripts/zipfile
site/remoto
tests/
.python-version
**/runapp.sh
**/instance
**/tmp/
