:root {
  --head-color: #455a64;
}

.card-content h2 {
  margin-top: 1rem;
}


#filednl {
  margin-bottom: 0.8rem;
}

.mb-2 {
  margin-bottom: 0.8rem;
}
.mb-4 {
  margin-bottom: 1.6rem;
}

#main {
  margin: 10px 5px;
}
.navbar-others {
  margin-left: 100px;
}
.logo-margin {
  margin-left: 50px;
}
.logo-font-size {
  font-size: 1.2rem;
}
.logo-green {
  color: hsl(120, 69%, 23%);
}
.logo-white {
  color: #f5f4f4;
}
.logo-red {
  color: hsl(0, 97%, 35%);
}
.last-modules {
  display: block;
}
.module-cards {
  font-size: 1rem;
}
.module-cards-title {
  font-weight: 700;
  /* color: #009ee2;
  color: #37474f; */
  color: var(--head-color);
}
.module-cards-riep {
  padding-bottom: 5px;
  font-weight: 500;
}

h2, h3, h4, h5, h6 {
  color: var(--head-color);
  font-weight: 700;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

h4  {
  font-size: 1.7rem;
}

h5  {
  font-size: 1.3rem;
}

h6  {
  font-size: 1.1rem;
}

code {
  font-weight: 700;
  color: var(--head-color);
  font-size: 1rem;
}
.snip {
  font-family: monospace;
  background-color: #DEDCDC;
}


/* sezione vedere anche */
.see-also {
  padding: 50px;

}


/* Formattazione colorazione console e sintassi */
.monospaced-frame {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  overflow-y: scroll;
  padding: 10px;
  max-height: 400px;
}

.console {
    color: #63de00;
    background-color: #000;
    padding: 10px;
}

.code-snippet {
  background-color: #3f3f3f;
}

/* From https://github.com/richleland/pygments-css/blob/master/native.css (thanks) */
.highlight .hll { background-color: #404040 }
.highlight  { background: #202020; color: #d0d0d0 }
.highlight .c { color: #999999; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .esc { color: #d0d0d0 } /* Escape */
.highlight .g { color: #d0d0d0 } /* Generic */
.highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight .l { color: #d0d0d0 } /* Literal */
.highlight .n { color: #d0d0d0 } /* Name */
.highlight .o { color: #d0d0d0 } /* Operator */
.highlight .x { color: #d0d0d0 } /* Other */
.highlight .p { color: #d0d0d0 } /* Punctuation */
.highlight .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #d0d0d0 } /* Literal.Date */
.highlight .m { color: #3677a9 } /* Literal.Number */
.highlight .s { color: #ed9d13 } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #24909d } /* Name.Builtin */
.highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .no { color: #40ffff } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: #d0d0d0 } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #447fcf } /* Name.Function */
.highlight .nl { color: #d0d0d0 } /* Name.Label */
.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: #d0d0d0 } /* Name.Other */
.highlight .py { color: #d0d0d0 } /* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #40ffff } /* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mb { color: #3677a9 } /* Literal.Number.Bin */
.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .sa { color: #ed9d13 } /* Literal.String.Affix */
.highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight .dl { color: #ed9d13 } /* Literal.String.Delimiter */
.highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight .sx { color: #ffa500 } /* Literal.String.Other */
.highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .fm { color: #447fcf } /* Name.Function.Magic */
.highlight .vc { color: #40ffff } /* Name.Variable.Class */
.highlight .vg { color: #40ffff } /* Name.Variable.Global */
.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .vm { color: #40ffff } /* Name.Variable.Magic */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
/* --- fine  */
/* Pagina Tabella moduli tradotti */

.modules-index {
  font-size: 1.5rem;
}
.modules-index a {
  padding-right: 0.3rem;
}

/* Correzione per puntare all'ancora dell'elemento in
   presenza di una header fissa */
.modules-anchor {
  padding-top: 80px;
  margin-top: -80px;
}

@media only screen and (min-width: 900px) {
  .fixed-sidebar {
    position: fixed;
    top: 10;
    left: 30;
    margin-right: 10px;
  }
}

/* In pagina indice e sidebar articolo sottoline link
   in quanto a volte è su due righe e può confondere */
.fixed-sidebar a:hover {
  text-decoration: underline;
}

.dropdown-categ-trigger:hover  {
  text-decoration: underline;
}

dt {
  font-weight: 500;
}

table {
  margin-top: 20px;
}

.table th, .table td {
  padding-left: 8px;
}

/* Alert divs */
.alert {
  margin: 1.8rem 0.4rem;
  padding: 1rem 0.8rem !important;
  color: var(--head-color);
  font-weight: bolder;
}
.success {
  background-color: #b2dfdb;
}
.info {
  background-color: #b3e5fc;
}
.warning {
  background-color: #ffecb3;
}
.error {
  background-color: #ffcdd2;
}
