<!DOCTYPE html>
<html>

<head>
  <title>{{ indice.titolo_pagina }}</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!--Import Google Font (Roboto)-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400&display=swap"
      rel="stylesheet">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/vendor/materialize.min.css"
        media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/style.css"
        media="screen,projection"/>

  <!-- Minified Cookie Consent da CDN -->
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
  <script type="text/javascript">
    window.cookieconsent_options = {
      "message": "Questo sito utilizza i cookie  per migliorarne l'utilizzo e l'esperienza di navigazione ",
      "dismiss": "Ho capito!",
      "learnMore": "Più informazioni",
      "link": "http://www.shinystat.com/it/informativa_privacy_generale_free.html",
      "theme": "dark-bottom"
    };
  </script>

</head>

<body>
<!-- Navbar -->
<header>
  <div class="navbar-fixed">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="riferimenti_ref.html">Riferimenti</a></li>
      <li><a href="riferimenti_moduli_rinominati.html">Moduli Rinominati</a>
      </li>
      <li><a href="riferimenti_moduli_nuovi.html">Moduli Nuovi</a></li>
      <li><a href="riferimenti_moduli_deprecati.html">Moduli Deprecati</a></li>
      <li><a href="riferimenti_moduli_modificati.html">Riepilogo Modifiche ai
        Moduli</a></li>
    </ul>

    <!-- mobile collapse menu -->
    <ul class="sidenav" id="mobile-devices">
      <li><a href="index.html">Home</a></li>
      <li><a href="indice_alfabetico.html">Indice Moduli</a></li>
      <li><a href="riferimenti_ref.html">Riferimenti</a></li>
      <li><a href="riferimenti_moduli_rinominati.html">Moduli Rinominati</a>
      </li>
      <li><a href="riferimenti_moduli_nuovi.html">Moduli Nuovi</a></li>
      <li><a href="riferimenti_moduli_deprecati.html">Moduli Deprecati</a></li>
      <li><a href="riferimenti_moduli_modificati.html">Riepilogo Modifiche ai
        Moduli</a></li>
      <li><a href="privacy.html">Privacy</a></li>
      <li><a href="#"><i class="material-icons">rss_feed</i></a></li>
    </ul>

    <nav>
      <div class="nav-wrapper blue-grey darken-1">
        <a href="#" class="brand-logo logo-margin">
          <span class="logo-font-size logo-green">PyM</span><span
            class="logo-font-size logo-white">OTW</span><span
            class="logo-font-size logo-red">-it 3</span>
        </a>
        <a href="#" data-target="mobile-devices" class="sidenav-trigger"><i
            class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html">Home</a></li>
          <li><a href="indice_alfabetico.html"
                 title='Indice alfabetico dei moduli'>Indice Moduli</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Note
            di Portabilità<i
                class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="privacy.html">Privacy</a></li>
          <li><a href="pymotw-it3_feed.xml" title="feed rss moduli tradotti"><i
              class="material-icons">rss_feed</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<main>
  <div id="main">
    {% block content %}
    {% endblock %}
  </div>
</main>

<footer class="page-footer blue-grey darker-4 valign-wrapper">
  <div class="row ">
    <div class="col 16 s12">
      <p class="blue-text text-lighten-4">
        {% if indice %}
          {{ indice.footer.nome_sito }}
          {{ indice.footer.periodo }} /
          Documento compilato il: {{ indice.footer.data_agg }}
          Contatto: {{ indice.footer.email }}
        {% else %}
          {{ modulo.footer.nome_sito }}
          {{ modulo.footer.periodo }} /
          Documento compilato il: {{ modulo.footer.data_agg }}
          Contatto: {{ modulo.footer.email }}
        {% endif %}
      </p>
    </div>
  </div>
</footer>

<script type="text/javascript" src="js/vendor/materialize.min.js"></script>
<script type="text/javascript" src="js/pymotw3-script.js"></script>
<!-- Begin Shinystat code -->
<script type="text/javascript"
        src="http://codice.shinystat.com/cgi-bin/getcod.cgi?USER=pymotwit"></script>
<noscript>
  <a href="http://www.shinystat.com" target="_top">
    <img src="http://www.shinystat.com/cgi-bin/shinystat.cgi?USER=pymotwit"
         alt="Free hit counters" border="0"/></a>
</noscript>
<!-- End Shinystat code -->

</body>

</html>
