{% extends "base.html" %}
{% block content %}

  <div class="row">

    <div class="col s12 m9">
      <div class="card blue-grey lighten-4">
        <div class="card-content" id="jumbo">
          <h2>Il Modulo Python della Settimana</h2>
          <p>Questo sito contiene la traduzione italiana dell'apprezzata serie
            <a href="http://pymotw.com/3/index.html"
               title="Python 3 Module of the Week">Python 3 Module of the
              Week</a>
            (PyMOTW-3), curata da <a href="http://doughellmann.com/">Doug
              Hellmann</a>.</p>
          <p>Questa serie di articoli offre una analisi dei moduli della libreria standard
            Python 3 attraverso vari esempi e
            spiegazioni.</p>
          <p>Come neofita del linguaggio Python ho molto apprezzato gli articoli
            di Doug. che si sono rivelati, almeno per me, una ottima fonte di
            apprendimento.</p>
          <p>Mi auguro che questa traduzione possa aiutare coloro che programmano in
            Python e non hanno molta dimestichezza con la lingua inglese.</p>
        </div>
      </div>

      {% for modulo in indice.moduli %}
        <div class="col s12 m6 l4">
          <div class="card blue-grey lighten-4 small">
            <div class="card-content module-cards">
              <h6 class="module-cards-title">{{ modulo.nome_per_teaser }}</h6>
              <p class="module-cards-riep">{{ modulo.titolo }}</p>
              <p class="module-cards-descr">{{ modulo.descrizione|safe }}</p>
              <div class="card-action">
                <a href="{{ modulo.url|safe }}"
                   class="btn waves-effect waves-light btn-small blue-grey">Leggi</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <br>
      <div class="col s12 offset-m5">
        {% if indice.prev_url %}
          <a href="{{ indice.prev_url|safe }}"
             class="waves-effect waves-light btn blue-grey">
            <i class="material-icons left">chevron_left</i>Altri Moduli</a>
        {% endif %}
        {% if indice.next_url %}
          <a href="{{ indice.next_url|safe }}"
             class="waves-effect waves-light btn blue-grey">
            <i class="material-icons right">chevron_right</i>Altri Moduli</a>
        {% endif %}
      </div>

    </div>


    <!-- SIDEBAR -->
    <div class="col s12 m3">
      <section>
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <h6>Ultimi moduli aggiunti</h6>
            <ul>
              {% for item in last_ten %}
                <li>{{ item.last_upd }}: <a class="last-modules"
                                            title="{{ item.title }}"
                                            href="{{ item.name }}.html">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
      <section>
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <!-- Dropdown Structures -->
            {% for categoria, moduli in indice.elenco_categorie %}
              <ul id="{{ categoria }}" class="dropdown-content">
                {% for modulo in moduli %}
                  <li><a href='{{ modulo.1|safe }}'>{{ modulo.0|safe }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}
            <!-- Dropdown Structures -->

            <!-- Categories dropdown -->
            <h6>Categorie</h6>
            <ul>
              {% for categoria, moduli in indice.elenco_categorie %}
                <li><a class="dropdown-categ-trigger" href="#"
                       data-target="{{ categoria }}">{{ categoria|safe }}
                  ({{ moduli|length }})</a></li>
              {% endfor %}
            </ul>
            <!-- Categories dropdown -->
          </div>
        </div>
      </section>
    </div>

  </div>

{% endblock %}

