{% extends "base.html" %}

{% block content %}
  <div class="row">
    <!-- article and see also section content -->
    <div class="col s12 m9">

      <!-- Module description card (jumbo) -->
      <div class="card blue-grey lighten-4">
        <div class="card-content">
          <h2>{{ modulo.titolo|safe }}</h2>
          {% if modulo.descrizione %}
            <p>Scopo: {{ modulo.descrizione|safe }}</p>
          {% endif %}
        </div>
      </div>

      <!-- download esempi -->
      {% if modulo.lnkzip %}
        <div class="col s12 offset-12">
          <a href="{{ modulo.lnkzip|safe }}" id="filednl"
             class="btn btn-small right blue-grey waves-effect waves-light"><i
              class="material-icons left">file_download</i>Scarica gli
            esempi</a>
        </div>
      {% endif %}

      <!-- Contenuto articolo -->
      <div class="col s12">
        {{ modulo.main_content|safe }}
      </div>

      <!-- sezione bibliografica -->
      <div class="col s12">
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <p><strong>Vedere anche:</strong></p>
            {{ modulo.vedi_anche|safe }}
          </div>
        </div>
      </div>

    </div>

    <!-- Sidebar indice articolo -->
    <div class="col s12 m3">
      <section class="fixed-sidebar">
        <!-- La barra dell'indice viene composta se esiste almeno un elemento -->
        {% if modulo.indice_laterale %}
          <div class="card blue-grey lighten-4">
          <div class="card-content" id="module-sidebar">
            <h6>Indice articolo:</h6>
            <ul>
              {% for voce in modulo.indice_laterale %}
                <li>{{ voce|safe }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </section>
    </div>
  </div>
{% endblock %}


