{% extends "base.html" %}

{% block content %}
  <div class="row">
    <!-- article and see also section content -->
    <div class="col s12 m9">

      <!-- Module description card (jumbo) -->
      <div class="card blue-grey lighten-4">
        <div class="card-content">
          <h2>{{ modulo.titolo|safe }}</h2>
          {% if modulo.descrizione %}
            <p>Scopo: {{ modulo.descrizione|safe }}</p>
          {% endif %}
        </div>
      </div>

      <!-- Contenuto articolo -->
      <div class="col s12">
        {{ modulo.main_content|safe }}
      </div>
    </div>
    <!-- Sidebar indice articolo -->
    <div class="col s12 m3">
      <section>
        <!-- La barra dell'indice viene composta se esiste almeno un elemento -->
        {% if modulo.indice_laterale %}
          <div class="card blue-grey lighten-4">
          <div class="card-content">
            <h6>Indice articolo:</h6>
            <ul>
              {% for voce in modulo.indice_laterale %}
                <li>{{ voce|safe }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </section>
    </div>
  </div>
{% endblock %}

