{% extends "base.html" %}
{% block content %}
  <div class="row">
  <div class="col s12 m9">
    <section>
      <div class="card blue-grey lighten-4">
        <div class="card-content">
          <h3>Indice Alfabetico dei Moduli</h3>
        </div>
      </div>
    </section>
    <section>
      <div class="card blue-grey lighten-4">
        <div class="card-content modules-index">
          <a href="#abc">A</a>
          <a href="#base64">B</a>
          <a href="#calendar">C</a>
          <a href="#datetime">D</a>
          <a href="#ensurepip">E</a>
          <a href="#filecmp">F</a>
          <a href="#gc">G</a>
          <a href="#hashlib">H</a>
          <a href="#imaplib">I</a>
          <a href="#json">J</a>
          <a href="#">K</a>
          <a href="#linecache">L</a>
          <a href="#mailbox">M</a>
          <a href="#namedtuple">N</a>
          <a href="#operator">O</a>
          <a href="#pathlib">P</a>
          <a href="#queue">Q</a>
          <a href="#random">R</a>
          <a href="#sched">S</a>
          <a href="#tabnanny">T</a>
          <a href="#unittest">U</a>
          <a href="#venv">V</a>
          <a href="#warnings">W</a>
          <a href="#xml.etree.ElementTree">X</a>
          <a href="#">Y</a>
          <a href="#zipfile">Z</a>
        </div>
      </div>
    </section>
    <section>
      <table class="table striped blue-grey lighten-4 blue-grey-text text-darken-2"
             style="margin-top: 50px">
        <tr>
          <th>MODULO</th>
          <th>DESCRIZIONE</th>
        </tr>
        {% for m in modulo.elenco_moduli %}
          <tr>
            {% if m.nome in modulo.moduli_per_iniziale.values %}
              <td><a id="{{ m.nome }}" class="modules-anchor">
              </a><a href='{{ m.url }}'>{{ m.nome }}</a></td>
            {% else %}
              <td><a href='{{ m.url }}'>{{ m.nome }}</a></td>
            {% endif %}
            <td>{{ m.titolo }}</td>
            <!-- <td></td> -->
          </tr>
        {% endfor %}
      </table>
    </section>
  </div>
  {% include "sidebar-main.html" %}
{% endblock %}
