{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col s12 m6 l12">
      <table class="table striped indigo lighten-4 indigo-text">
        <thead>
        <tr>
          {% for header in data.headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for article in data.articles.items | sort(attribute='title') %}
          <tr>
            <td class="center-align">
              <a class="teal-text darken-5"
                 title="Modifica voce articolo"
                 href="{{ url_for('main.article', key=article.id) }}">
                <i class="material-icons">edit</i>
              </a>

            </td>
            <td class="left-align">{{ article.title }}</td>
            <td class="left-align">{{ article.artcat.descr }}</td>
            <td class="left-align"><a class="teal-text darken-5"
                                      title="Modifica sorgente articolo"
                                      href="{{ url_for('main.source') }}">{{ article.filename }}</a>
            </td>
            <td class="center-align">{{ article.lastmod.strftime("%d/%m/%Y") }}</td>
            <td class="right-align">{{ "%d"|format(article.size) }}</td>
            <td class="center-align">{% if article.indexed == 1 %}
              SI{% else %}NO{% endif %}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6 offset-l5 offset-m3 offset-s1">
        <ul class="pagination">
          <li><a href="{{ data.prev }}"
                 class="indigo darken-4 white-text waves-effect waves-light btn">Precedenti</a>
          </li>
          <li><a href="{{ data.next }}"
                 class="indigo darken-4 white-text waves-effect waves-light btn">Successivi</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

