{% extends 'bare.html' %}
{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            {% for header in data.headers %}
            <th scope="col" style="text-align: center">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for category in data.categories | sort(attribute='descr') %}
          <tr>
            <td style="text-align: right"><a href="{{ category.id }}">{{ category.id }}</a></td>
            <td>{{ category.descr | title }}</td>
            <td style="text-align: right">{{ category.articles | list | length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
{% endblock %}
