{% extends 'bare.html' %}
{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5 col-10">
      <form class="form-group mt-5" action="{{ url_for('main.category_new') }}"
            method="post" name="newCategory">
      <h3>Nuova Categoria</h3>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="form-group">
          <label for="idcat">DESCRIZIONE</label>
          {%  if not error  %}
            {{ form.descr(class="form-control",  size="50", value=descr) }}
          {% else %}
            {{ form.descr(class="form-control is-invalid",  size="50", value=descr) }}
          {% endif %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          <small class="form-text text-muted">Il case dell'elemento viene gestito internamente</small>
        </div>
        <hr>
        <button class="btn btn-primary">inserisci</button>
      </form>
    </div>
  </div>
{% endblock %}
