{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 mb-4">
        <ul class="tabs" id="configTabs">
          {% for k, v in parameters.items() %}
            <li class="tab col s3">
              <a href="#{{ k }}"
                 class="{% if loop.index == 1 %}active{% endif %}">
                <span
                    class="indigo-text text-darken-4">{{ v[0].conf_tag | title }}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <form action="" id="frm{{ k }}" method="post">
      {% for k, v in parameters.items() %}
        <div id="{{ k }}" class="col s12">
          {% for item in v %}
            <div class="row">
              <div class="input-field col s12 m4 l6">
                <input type="text" value="{{ item.conf_value }}"
                       name="value_{{ item.id }}">
                <label for="value_{{ item.id }}">{{ item.conf_key }}</label>
              </div>
              <div class="input-field col s12 m8 l6">
                <input type="text"
                  {% if item.conf_tip %}
                     value="{{ item.conf_tip }}"
                  {% else %}
                     placeholder="Descrizione proprietà"
                  {% endif %}
                >
                <label for="value_{{ item.id }}">Descrizione elemento</label>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      </form>
    </div>
  </div>
{% endblock %}
