{% with messages = get_flashed_messages(with_categories=True) %}
  <!-- success, info, warning, danger -->
  {% if messages %}
    {% for message, category in messages %}
      <div class="row dismissible {{ category }} valign-wrapper"
           id="dismissible-{{ loop.index }}">
        <div class="col s12 l11">
          {{ message }}
        </div>
        <div class="col s12 l1" style="text-align: right;">
          <a class="indigo-text text-darken-4" href="#"
             onclick="closeMsg('dismissible-{{ loop.index }}')" ><i
              class="material-icons">clear</i></a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
