{% extends 'bare.html' %}
{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}
{% block content %}
  <div class="container">
    {% include 'flask_messages.html' %}
    <div class="row justify-content-center mt-5">
      <div class="col-8">
        <form class="form-group mt-5"
              action="{{ url_for('main.article_boilerplate') }}"
              method="post" name="newArticle">
          <h3>Testo Nuovo Articolo<br><br></h3>
          {{ form.hidden_tag() }}
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="articleboilerplate"></label>
            {{ form.text(class="form-control", rows="20") }}
          </div>
          <p>Percorso: {{ nomefile }}</p>
          <button class="btn btn-primary" name="scrivifile" title="Scrive il contenuto del form in {{ nomefile }}">SCRIVI FILE</button>
          <button class="btn btn-secondary" name="copiatesto" title="Copia il contenuto del form negli appunti">COPIA TESTO</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
