{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  {% include 'flask_messages.html' %}
  <div class="container">
    <div class="row align-center">
      <h5>{{ module_path }}</h5>
    </div>
    <div class="row">
      <form action="{{ url_for("main.source", module_name=module_filename) }}"
            method="post" name="builderlog">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="col s12">
          <button
              class="waves-effect waves-light btn indigo darken-4 white-text"
          >Salva Modifiche
          </button>
        </div>
    </div>
    <div class="row align-center">
      <div class="col s12">
        {{ form.source_text(spellcheck="false", rows="30", id="sourceTa") }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
